page-criar-veiculo {
  .form{
    width: 100%;
    padding-bottom: 15%;
  }

  .content{
    overflow: auto;
  }

  .button-cadastrar{
    text-align: center;
  }

  .button-cad{
    width: 60%;
  }
}
